<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>fileUpload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login-jsp</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-jsp</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download-jsp</servlet-name>
    <jsp-file>/download.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>download-jsp</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findID-jsp</servlet-name>
    <jsp-file>/findID.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>findID-jsp</servlet-name>
    <url-pattern>/findid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPW-jsp</servlet-name>
    <jsp-file>/findPW.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPW-jsp</servlet-name>
    <url-pattern>/findpw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register-jsp</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-jsp</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>withdraw-jsp</servlet-name>
    <jsp-file>/withdraw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw-jsp</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search-jsp</servlet-name>
    <jsp-file>/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>search-jsp</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>fileupload.UploadServlet</servlet-class>
    <multipart-config>
      <location>C:\uploadTemp</location>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
      <file-size-threshold>1024</file-size-threshold>
    </multipart-config>
  </servlet>
</web-app>